 *{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.body{
    background-image: url(d.jpeg);
    background-size: 100%;
    color: white;
}
.img{
    border-radius: 50%;
}
section {
    float: inline-end;
}
.table, th, td {
    border: 1px solid;
    border-color: white;
}
.table{
    border-collapse: collapse;
    width: 100%;
    ;
}
.nav a{
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color: greenyellow;
    font-style: italic;
}
.article{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}
.top{
    padding-top: 100;
    text-align: center;
}
.wrapper{
    position: relative;
    text-align: center;
    left: 200px;
    bottom: 200px;
    padding-bottom: 100px;
}
.image{
    position:relative;
    left: 350px;
    top: 50px;
}
.kontak{
    padding-bottom: 300px;
}
